/* ================================= FONTS ================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rowdies:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.font-gigames {
    font-family: 'Rowdies', sans-serif;
}
.font-platform {
    font-family: 'Ubuntu', sans-serif;
}
.font-text {
    font-family: 'Montserrat', sans-serif;
}
/* ================================= GLOBAL ================================= */
html { /* Color del Background del HTML (overflow en el eje Y) */
    background-color: rgba(33,37,41);
}
:root { /* Variable de estilos utilizados con frecuencia */
    --bg-gradient: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(27,25,40,1) 50%, rgba(33,37,41,1) 100%);;
}
.bg-gradient { /* Gradiente de fondo */
    background: var(--bg-gradient) !important;
}
.padding-custom { /* Padding utilizado en AboutUs, Footer & ItemDetail */
    padding-inline: 10vw;
}
.text-justify {
    text-align: justify;
}
/* ================================= LOGO ================================= */
.logo { /* Logo de GiGames */
    transition: all 0.25s;
}
.logo:hover {
    transform: scale(1.1);
}
/* ================================= NAVBAR ================================= */
.navbar-link { /* Enlaces del Navbar: Juegos / Playstation / Xbox / PC / Nintendo */
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    padding-inline: 16px !important;
    border-radius: 16px;
}
.navbar-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}
/* ================================= CAROUSEL ================================= */
.carousel-img {
    object-fit: cover;
}
.carousel-indicators { /* Indicadores de Slide del Carousel */
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators button {
    width: 1.5vw !important;
    height: 0.5vh !important;
}
.carousel-platform {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 10px;
    top: 10px;
}
.carousel-img-disc {
    position: absolute;
    width: 256px;
    height: 160px;
    right: 0px;
    bottom: 30px;
    font-size: 64px;
    color: #ffc107;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    border-radius: 16px 0 0 0;
}
.font-size-price-og {
    font-size: 20px;
}
.font-size-price-discount {
    font-size: 24px;
    font-weight: bold;
}
/* ================================= PLATFORMS ================================= */
.img-platform {
    width: 192px;
    transition: all 0.25s;
}
.img-platform:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 12px black;
    cursor: pointer;
}
/* ================================= CATALOGUE ================================= */
.catalogue-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.catalogue-img {
    object-fit: cover;
}
.catalogue-brightness:hover {
    filter: brightness(1.1);
}
.button-info:hover {
    box-shadow: 0px 0px 2px white;
}
/* ================================= GAMES (CARD) ================================= */
.game-card {
    transition: all 0.25s;
}
.game-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px white;
    cursor: pointer;
}
.title, .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-block: 0px;
    margin-inline: 5px;
}
.game-title, .game-price {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #00000080;
}
.game-title {
    min-height: 65px;
}
.platform-size {
    font-size: 16px;
}
/* ================================= CART & CHECKOUT ================================= */
.trash {
    width: 24px;
    transition: all 0.25s;
}
.trash:hover {
    transform: scale(1.2);
}
.col-trash {
    width: 11rem;
}
.width-table {
    width: 75vw;
}
.width-img-cart {
    width: 100px;
}
.font-cart-head {
    font-size: 20px;
    font-weight: bold;
}

.width-img-checkout {
    width: 80px;
}
/* ================================= MEDIA QUERIES ================================= */
@media (min-width: 768px) and (max-width: 1439.98px){
    .title {
        font-size: 0.7em;
    }
    .img-size {
        width: 30vw;
    }
    .title-size {
        font-size: 1.8em;
    }
    .platform-size {
        font-size: 0.8em;
    }
    .price-size {
        font-size: 0.8em;
    }
    .description-size {
        font-size: 0.7em;
    }
    .width-img-cart {
        width: 80px;
    }
    .font-cart-head {
        font-size: 16px;
    }
}
@media (max-width: 991.98px){
    .nav-item {
        text-align: end;
    }
    .navbar-link {
        display: inline-block;
    }
    .carousel-platform {
        width: 60px;
        height: 60px;
    }
    .carousel-img-disc {
        position: absolute;
        width: 184px;
        height: 120px;
        font-size: 48px;
    }
    .font-size-price-og {
        font-size: 16px;
    }
    .font-size-price-discount {
        font-size: 20px;
        font-weight: bold;
    }
}
@media (max-width: 767.98px){
    .carousel-img, .catalogue-img {
        height: 400px; 
    }
    .img-size {
        width: 80vw;
        margin-bottom: 20px;
    }
    .width-table {
        width: 100vw;
    }
    .width-img-cart {
        width: 40px;
        padding-block: 4px;
    }
    .font-cart-head {
        font-size: 12px;
    }
    .font-cart-body {
        font-size: 10px;
    }
    .width-img-checkout {
        width: 50px;
    }

    /* TABLAS - Responsive improvisado */
    td {
        padding: 0px !important;
    }
    .td-empty {
        width: 0px !important;
    }
    .total-price {
        font-size: 16px !important;
    }
    .width-last-td {
        width: auto;
        margin-inline: 4px;
    }
    .empty-custom-padding, .confirm-custom-padding {
       font-size: 10px;
    }
    .empty-custom-padding img {
        width: 12px;
    }
    .trash {
        width: 16px;
    }
}
@media (max-width: 575.98px){
    .img-platform {
        width: 128px;
    }
    .width-card {
        width: 80%;
    }
    .carousel-img-disc {
        position: absolute;
        width: 100%;
        height: 80px;
        right: 0px;
        bottom: 10px;
        font-size: 32px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
        border-radius: 0px;
    }
    .font-size-price-og {
        font-size: 12px;
    }
    .font-size-price-discount {
        font-size: 16px;
        font-weight: bold;
    }
    .carousel-disc::after {
        content: " OFF";
    }
    .catalogue-info {
        text-align: center;    }
}